.patientBackground {
  background-image: linear-gradient(
    to right,
    #b0bffb,
    #b7c7fc,
    #c0cffd,
    #c8d6fd,
    #d1defe,
    #d6e0fe,
    #dae3fe,
    #dee5fe,
    #dfe2fd,
    #dfe0fc,
    #e1ddfa,
    #e2daf8
  );
}

.patientLandingPage {
  width: 100%;
}

.patientcomponentH3 {
  font-weight: 900;
  margin-top: 30%;
  line-height: 200%;
}

.patientDashBg {
  background-image: linear-gradient(
    to right,
    #b0bffb,
    #b7c7fc,
    #c0cffd,
    #c8d6fd,
    #d1defe,
    #d6e0fe,
    #dae3fe,
    #dee5fe,
    #dfe2fd,
    #dfe0fc,
    #e1ddfa,
    #e2daf8
  );
}
