.patientBackground{
    background-image: linear-gradient(45deg, #93a5cf 0%, #e4efe9 100%);
}

.patientLandingPage{
    width: 100%;
}

.patientcomponentH3{
    font-weight: 900;
    margin-top: 30%;
    line-height: 200%;
}